@page "/"
@using BusinessLayer.Entities
@inherits StM



<div>
    <div class="formsWrap" id="filterContainer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-4">
                    <div class="form-group">
                        <label class="control-label"  >Student ID</label>
                        <TelerikNumericTextBox @bind-Value="@ID" ></TelerikNumericTextBox>
                    </div>
                </div>


                <div class="col-md-1 col-4">
                    <div class="form-group">
                        <label class="control-label" >First Name</label>
                        <TelerikTextBox @bind-Value="@FirstName">
                        </TelerikTextBox>
                    </div>
                </div>
              

                <div class="col-md-1 col-4">
                    <div class="form-group">
                        <label class="control-label"  >Last Name</label>
                        <TelerikTextBox @bind-Value="@LastName">
                        </TelerikTextBox>
                    </div>
                </div>
               

                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <label >University</label>
                        <TelerikComboBox Data="@univercities"
                                         Placeholder="Select the university"
                                         TextField="Name" ValueField="ID"
                                         @bind-Value="@selectedValue">
                        </TelerikComboBox>
                    </div>
                </div>


                @*
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <label class="control-label" for="MinCreationDate" data-type="filter">Min cretation date</label>
                        <TelerikDateTimePicker Format="dd/MM/yyyy HH:mm" @bind-Value="@MinCreationDate" Id="g-standard"
                                               Class="form-control form-control-sm"></TelerikDateTimePicker>
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <label class="control-label" for="MaxCreationDate" data-type="filter">Max creation date</label>
                        <TelerikDateTimePicker Format="dd/MM/yyyy HH:mm" @bind-Value="@MaxCreationDate" Id="g-standard"
                                               Class="form-control form-control-sm"></TelerikDateTimePicker>
                    </div>
                </div>
             
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <label class="control-label" for="ReceiptNumber">Receipt number</label>
                        <TelerikTextBox @bind-Value="ReceiptNumber">
                        </TelerikTextBox>
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <label class="control-label" for="PaymentID">Payment ID</label>
                        <TelerikTextBox @bind-Value="PaymentID">
                        </TelerikTextBox>
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <label class="control-label" for="Reference">Reference</label>
                        <TelerikTextBox @bind-Value="Reference">
                        </TelerikTextBox>
                    </div>
                </div> *@
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="formsWrapBtns">
                        <div class="formsWrapBtnsIn">
                            <button title="Որոնել" type="button" @onclick="RebindGrid" class="btn btn-sm btn-info">Search</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


 @*     <TelerikComboBox Data="@myComboData" TextField="MyTextField" ValueField="MyValueField" @bind-Value="selectedValue"
                     Placeholder="Select an item..." ClearButton="true" Filterable="true">
    </TelerikComboBox> *@

    @code {
       // IEnumerable<MyDdlModel> myComboData = Enumerable.Range(1, 20).Select(x => new MyDdlModel { MyTextField = "item " + x, MyValueField = x });
       // int selectedValue { get; set; }
        //in a real case, the model is usually in a separate file
        //the model type and value field type must be provided to the dropdpownlist
        // public class MyDdlModel
        // {
         //    public int MyValueField { get; set; }
        //     public string MyTextField { get; set; }
        // }

    } 

    <Telerik.Blazor.Components.TelerikGrid TItem="@Student"
                                           Sortable="true" 
                                           Pageable="true"
                                           @ref="@Grid"
                                           EditMode="@GridEditMode.Inline"
                                           OnRead="@ReadItems"
                                           OnCreate="@CreateHandler"
                                           OnDelete="@DeleteHandler"
                                           OnUpdate="@UpdateHandler"
                                           PageSize="2"
                                           >
        <GridToolBarTemplate>
            <GridCommandButton Command="Add" >Add Student</GridCommandButton>
        </GridToolBarTemplate>
        <GridColumns>
            <GridColumn Field="@nameof(Student.ID)" Filterable="true" Editable="false"></GridColumn>
            <GridColumn Field="@nameof(Student.FirstName)" Filterable="true"></GridColumn>
            <GridColumn Field="@nameof(Student.LastName)" Filterable="true"></GridColumn>
            <GridColumn Field="@nameof(Student.UniversityID)" Filterable="true"></GridColumn>
            <GridCommandColumn>
                <GridCommandButton Command="Save" Icon="@SvgIcon.Save" ShowInEdit="true">Update</GridCommandButton>
                <GridCommandButton Command="Edit" Icon="@SvgIcon.Pencil">Edit</GridCommandButton>
                <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">Delete</GridCommandButton>
                <GridCommandButton Command="Cancel" Icon="@SvgIcon.Cancel" ShowInEdit="true">Cancel</GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </Telerik.Blazor.Components.TelerikGrid>



</div>





@code {

}