@page "/students/{UID:int?}"
@using BusinessLayer.Entities

@inherits StM

<div>
    <div class="formsWrap" id="filterContainer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-4">
                    <div class="form-group">
                        <label class="control-label"  >Student ID</label>
                        <TelerikNumericTextBox @bind-Value="@ID" ></TelerikNumericTextBox>
                    </div>
                </div>


                <div class="col-md-1 col-4">
                    <div class="form-group">
                        <label class="control-label" >First Name</label>
                        <TelerikTextBox @bind-Value="@FirstName">
                        </TelerikTextBox>
                    </div>
                </div>
              

                <div class="col-md-1 col-4">
                    <div class="form-group">
                        <label class="control-label"  >Last Name</label>
                        <TelerikTextBox @bind-Value="@LastName">
                        </TelerikTextBox>
                    </div>
                </div>
               

                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <label >University</label>
                        <TelerikComboBox Data="@Universities"
                                         Placeholder="Select the university"
                                         TextField="Name" ValueField="ID"
                                         @bind-Value="@selectedValue">
                        </TelerikComboBox>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-3">
                    <div class="formsWrapBtns">
                        <div class="formsWrapBtnsIn">
                            <button title="Որոնել" type="button" @onclick="RebindGrid" class="btn btn-sm btn-info">Search</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <Telerik.Blazor.Components.TelerikGrid TItem="@Student"
                                           Sortable="true" 
                                           Pageable="true"
                                           @ref="@Grid"
                                           EditMode="@GridEditMode.Inline"
                                           OnRead="@ReadItems"
                                           OnCreate="@CreateHandler"
                                           OnDelete="@DeleteHandler"
                                           OnUpdate="@UpdateHandler"
                                           PageSize="5"
                                           >
        <GridToolBarTemplate>
            <GridCommandButton Command="Add" >Add Student</GridCommandButton>
        </GridToolBarTemplate>
        <GridColumns>
            <GridColumn Title="ID"  Field="@nameof(Student.ID)" Filterable="true" Editable="false"></GridColumn>
            <GridColumn Title="First Name" Field="@nameof(Student.FirstName)" Filterable="true"></GridColumn>
            <GridColumn Title="Last Name" Field="@nameof(Student.LastName)" Filterable="true"></GridColumn>

            <GridColumn   Title="University" Field="@nameof(UniversityID)" Filterable="true">
                <Template>
                    @{
                        var item = context as Student;  
                    } 
                    @item.Name
                </Template>
                <EditorTemplate>
                    @{
                        var item = context as Student;
                        <TelerikComboBox Data="@Universities"
                                         Placeholder="Select..."
                                         TextField="Name" ValueField="ID"
                                         @bind-Value="@item.UniversityID">
                        </TelerikComboBox>
                    }
                </EditorTemplate>
            </GridColumn>

            <GridCommandColumn>
                <GridCommandButton Command="Save" Icon="@SvgIcon.Save" ShowInEdit="true">Update</GridCommandButton>
                <GridCommandButton Command="Edit" Icon="@SvgIcon.Pencil">Edit</GridCommandButton>
                <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">Delete</GridCommandButton>
                <GridCommandButton Command="Cancel" Icon="@SvgIcon.Cancel" ShowInEdit="true">Cancel</GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </Telerik.Blazor.Components.TelerikGrid>
</div>





